In [1]:
import pandas as pd
import numpy as np

In [2]:
path1 = 'E:/泰迪杯/数据挖掘2021/C/C题数据/景区评分.CSV'
path2 = 'E:/泰迪杯/数据挖掘2021/模糊综合评价结果/模糊综合评价景区评分utf-8.csv'

In [3]:
real = pd.read_csv(path1, encoding='gbk')
record = pd.read_csv(path2, encoding='utf-8')

In [4]:
real.head()

  景区名称  总得分  服务得分  位置得分  设施得分  卫生得分  性价比得分  Unnamed: 7
0  A01  4.4   3.8   4.9   4.9   4.5    4.5         NaN
1  A02  4.2   3.8   4.9   4.2   4.5    4.0         NaN
2  A03  4.2   3.9   4.2   4.1   4.5    4.5         NaN
3  A04  4.2   3.8   4.0   4.0   4.5    4.5         NaN
4  A05  4.2   3.9   4.9   4.0   4.5    4.2         NaN

In [5]:
record.head()

   序号 景区名称  总得分  服务得分  位置得分  设施得分  卫生得分  性价比得分
0   1   A1  3.3   3.3   3.1   3.4   2.8    3.4
1   2   A2  3.3   3.3   3.1   3.3   3.0    3.4
2   3   A3  2.7   2.9   2.5   3.0   2.1    2.8
3   4   A4  2.8   2.9   2.6   2.9   2.3    2.8
4   5   A5  3.0   2.9   2.9   3.1   2.7    3.1

In [6]:
# 计算均方误差
def get_mse(records_real, records_predict):
    if len(records_real) == len(records_predict):
        return sum([(x - y) ** 2 for x, y in zip(records_real, records_predict)]) / len(records_real)
    else:
        return None

In [7]:
MSE = []
for col in record.columns[2:8]:
    real_data = real[col].values
    record_data = record[col].values
    mse = get_mse(real_data, record_data)
    MSE.append(round(mse,2))

In [8]:
MSE

[1.68, 0.77, 2.82, 1.73, 3.44, 1.68]

In [9]:
record.columns[2:8]

Index(['总得分', '服务得分', '位置得分', '设施得分', '卫生得分', '性价比得分'], dtype='object')