In [1]:
import pandas as pd
import numpy as np

In [2]:
path1 = 'E:/泰迪杯/数据挖掘2021/C/C题数据/酒店评分.CSV'
path2 = 'E:/泰迪杯/数据挖掘2021/模糊综合评价结果/模糊综合评价酒店评分utf-8.csv'

In [3]:
real = pd.read_csv(path1, encoding='gbk')
record = pd.read_csv(path2, encoding='utf-8')

In [4]:
real.head()

   序号 酒店名称  总得分  服务得分  位置得分  设施得分  卫生得分  性价比得分
0   1  H01  4.8   4.8   4.8   4.7   4.8    4.0
1   2  H02  4.7   4.7   4.8   4.6   4.7    4.0
2   3  H03  4.8   4.8   4.8   4.8   4.9    4.0
3   4  H04  4.9   4.9   4.9   4.9   4.9    4.0
4   5  H05  4.7   4.7   4.8   4.7   4.8    4.0

In [5]:
record.head()

   序号 酒店名称  总得分  服务得分  位置得分  设施得分  卫生得分  性价比得分
0   1   H1  3.2   3.1   3.3   3.3   3.1    3.2
1   2   H2  3.0   2.9   3.0   3.1   3.0    3.1
2   3   H3  3.1   3.1   3.0   3.2   3.0    3.2
3   4   H4  3.2   3.0   3.3   3.3   3.0    3.3
4   5   H5  3.1   2.9   3.1   3.3   2.9    3.1

In [6]:
# 计算均方误差
def get_mse(records_real, records_predict):
    if len(records_real) == len(records_predict):
        return sum([(x - y) ** 2 for x, y in zip(records_real, records_predict)]) / len(records_real)
    else:
        return None

In [7]:
MSE = []
for col in record.columns[2:8]:
    real_data = real[col].values
    record_data = record[col].values
    mse = get_mse(real_data, record_data)
    MSE.append(round(mse,2))

In [8]:
MSE

[2.66, 3.31, 2.71, 1.83, 3.44, 0.86]

In [9]:
record.columns[2:8]

Index(['总得分', '服务得分', '位置得分', '设施得分', '卫生得分', '性价比得分'], dtype='object')